.main-front-container {
    flex: 1;
    padding-bottom: 1rem;

    &>section {
        padding: 1rem;
        padding-bottom: 0;
    }

    @media (min-width: 1024px) {
        padding-bottom: 2rem;

        &>section {
            padding: 2rem;
            padding-bottom: 0;
        }
    }
}