@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Roboto Slab";
    src: url("./fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf");
}

:root {
    --light: #fbd7ff;
    --dark: #932d9e;
    --secondary: #F06BFF;
    --active: #559E13;
    --accent: #B2FF6B;

    font-family: Consolas, monospace, "Roboto Slab";
}

html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#react-root {
    display: flex;
    flex: 1;
    overflow: hidden;
}