@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #2f0335;
    --secondary: #d077db;
    --light: #f9c7ff;
    --active: #fd30fd;
}

html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    background-color: var(--light);
}

#react-root {
    display: flex;
    flex: 1;
}