@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Roboto Slab";
    src: url("./fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf");
}

:root {
    --primary: #6d1179;
    --secondary: #d077db;
    --light: #fbd7ff;
    --active: #fd30fd;

    font-family: Consolas, monospace, "Roboto Slab";
}

html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#react-root {
    display: flex;
    flex: 1;
    overflow: hidden;
}